<!--
                table {
                 	font: 9pt "trebuchet ms", arial, sans-serif ; 
                        align:center;
                        text-align:center; 
                      }

                 body {
	                color: #333333;
	                background-color: skyblue;
	                background-image:url(../imagen/image1.jpg);
	                background-repeat:no-repeat;
					background-position: rigth-top;
					margin-right:200px;
	                font-family: "trebuchet ms", Arial, sans-serif;
	                font-size: 9pt;
                       }

                  p    {
	                font-size: 16px;
	                   color: #005db6;
	                   margin-top: 0px;
	                   margin-bottom: 3px;
	               }
#logo1  {
	top: 160;
	left: 480;
	position: absolute;
    height: auto;
    width: auto;
}

#Diario{
    top:160;
	left:480;
	position: absolute;
	height: auto;
	width: auto;
}


            
              #header {
	                position: absolute;
                    	height: auto;
                 	width: auto;
                      	left: 0px;
                   	top: 0px;
                	visibility: visible;
                       }
 
                #logo {
	                position: absolute;
                      	height: auto;
                   	width: auto;
                       	left: 10px;
	                top: 165px;
                      }
 
          .imageborder {
	                  border-left-width: 1px;
                       	  border-left-style: solid;
 	                  border-left-color: #FFFFFF;
                       }

             #imagebar {
	                  position: absolute;
        	          height: auto;
	                  width: auto;
	                  right: 60px;
        	          top: 25px;
	                  z-index: 6;
                        }
 
              .imagebox {
	                 border: 1px solid #FFFFFF;
                        }

               #content {
	                  position: absolute;
 	                  height: auto;
	                  width: auto;
	                  left: 20px;
	                  top: 180px;
	                  right: 60px;
                        }

                     h1 {
	                  font-size: 25px;
	                  color: #005db6;
	                  margin-top: 0px;
	                  margin-bottom: 3px;
                          TEXT-ALIGN:center;
                         }
                     
                      h2 {
	                   font-size: 16px;
	                   color: #000000;
	                   margin-top: 0px;
	                   margin-bottom: 3px;
                          }
         
          #content a:link {
	                    color: #005db6;
                          }
       
       #content a:visited {
	                   color: #999999;
                          }

    #content a:link:hover {
	                    color: #3c9bf7;
                          }

                 .content {
	                    padding-left: 20px;
                          }

    #cajatexto{
    font-weight: normal;
    position: relative;
    left: 150px;
    color: DarkSlateGrey;
    font-size: 30px;
  }

    #logoUES{
      position: relative;
      top: -190px;
    }

    #titulodefault2{
      position: relative;
      left: 0px;
      top: -20px;
      font-weight: bold;
      font-size: 20px;
    }

    #titulodefaultIng{
      position: relative; ;
      left: 0px;
      top: 210px:;
      font-weight: bold;
      font-size: 20px;
      color: black;
    }

    #loginI{
      position: relative;
      color: DarkSlateGrey;
      top: -250px;
      left: 850px;
      font-size: 20px;
    }

    #tablaLogin{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:320px;
      height:230px;
      position: relative;
      top: -250px;
      left: 750px;
    }

     #tablaLoginU{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:320px;
      height:230px;
      position: relative;
      top: 50px;
      left: 525px;
    }

    #cajitasInput{
      background-color: #F5F8F9;
      border-style: solid;
      border-left-width: 0px;
      border-right-width: 0px;
      border-top-width: 0px;
      border-bottom-width: 1px;
      border-color: DarkSlateGrey;
      border-radius: 3px;
    }
	
    #margenInput{
      background-color: none;
      border-style: solid;
      border-left-width: 1pxpx;
      border-right-width: 1px;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-color: DarkSlateGrey;
      border-radius: 7px;
    }

    #titulo{
      position: relative;
      color: DarkSlateGrey;
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

     #tablaLoginEmpleado{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:400px;
      height:400px;
      position: relative;
      top: -10px;
      left: 480px;
      }

       #tablaLoginCom{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:310px;
      height:240px;
      position: relative;
      top: 10px;
      left: 40px;
      align-content: center;
      }

      #tablaLoginCom2{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:330px;
      height:240px;
      position: relative;
      top: 10px;
      left: 40px;
      align-content: center;
      }

      #tablaLoginCom3{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:330px;
      height:330px;
      position: relative;
      top: 10px;
      left: 40px;
      align-content: center;
      }

      #tablaLoginCom4{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:330px;
      height:430px;
      position: relative;
      top: 10px;
      left: -100px;
      align-content: center;
      }
      
       #tablaLoginCom5{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:350px;
      height:360px;
      position: relative;
      top: 10px;
      left: 40px;
      align-content: center;
      }

      #inputEmpleado{
        color: #2A2D2E;
      }

      #tituloCompras{
        position: relative;
      color: DarkSlateGrey;
      font-weight: bold;
      font-size: 22px;
     top : 10px;
     right: -280px;
      }

      #tituloPagos{
      position: relative;
      color: DarkSlateGrey;
      font-weight: bold;
      font-size: 22px;
     top : -197px;
     right: -980px;
      }

      #tituloVentas{
      position: relative;
      color: DarkSlateGrey;
      font-weight: bold;
      font-size: 22px;
     top : -420px;
     right: -620px;
      }

      #cuentasCompras{
        position: relative;
        color: #35393A;
        left: 266px;
        font-size: 10px;
      }

      #cuentasPagos{
        position: relative;
        color: #35393A;
        left: 940px;
        font-size: 10px;
        top: -205px;
      }

      #cuentasVentas{
        position: relative;
        color: #35393A;
        left: 595px;
        font-size: 10px;
        top: -431px;
      }

      #periodoCerrado{
        position: relative;
      color: DarkSlateGrey;
      font-weight: bold;
      font-size: 24px;
      left: -25px;
      }

      #tablaLogin{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:320px;
      height:230px;
      position: relative;
      top: -235px;
      left: 750px;
    }
       #tablaLoginUsuario{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:320px;
      height:230px;
      position: relative;
     top: 50px;
     left: 520px;
    }

    #tablaLogin2{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:360px;
      height:260px;
      position: relative;
      top: -10px;
      left: 500px;
      }

       #tablaLogin3{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:360px;
      height:160px;
      position: relative;
      top: -10px;
      left: 500px;
      }

         #tablaLogin4{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:490px;
      height:360px;
      position: relative;
      top: -10px;
      left: -55px;
      }

         #tablaLogin5{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:340px;
      height:160px;
      position: relative;
      top: 20px;
      left: 15px;
      }

       #tablaLogin6{
      border-radius: 20px;
      border-style: solid;
      border-color: #C3D2D5;
       width:320px;
      height:200px;
      position: relative;
      top: 20px;
      left: 35px;
      }

      #fieldset1{
      text-align: center;
  
      width: 310px;
      height: 190px;

      }

      #fieldset2{
      position: relative;
      left: -200px;

   

      }

      #nuevaC{
        position: relative;
        color: #455356 ;
        font-size: 18px;
        left: 120px;
      }

       #nuevaE{
        position: relative;
        color: #455356 ;
        font-size: 18px;
        left: 600px;
      }

      #botoncito{
        position: relative;
        top: 40px;
        left: 650px;
      }

         #margenInput2{
      background-color: none;
      border-style: solid;
      border-left-width: 1pxpx;
      border-right-width: 1px;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-color: DarkSlateGrey;
      border-radius: 7px;
      position: relative;
      left: 50px;}

          #nInput{
            position: relative;
            left: 105px;
          }

           #nInput2{
            position: relative;
            left: 130px;
          }
          
            #nInput3{
            position: relative;
            left: 86px;
          }

          #alinearT{
            position: relative;
            left: -400px;
          }







			  
                        -->